<h2>My Heroes</h2>

<div>
  <label for="hero-firstname">Hero firstname: </label>
  <input id="hero-firstname" [(ngModel)]="firstname" placeholder="Hero firstname" required />

  <label for="hero-lastname">Hero lastname: </label>
  <input id="hero-lastname" [(ngModel)]="lastname" placeholder="Hero lastname" required />

  <!-- (click) passes input value to add() and then clears the input -->

  <button class="add-button" (click)="add(firstname, lastname); lastname=''; firstname='';">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.firstname + ' ' + hero.lastname}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
